@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  list-style-type: none;
}

html, body {
  height: 100%;
}

header {
  background-image: url("../assets/images/exact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80%;
}
header .dark-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
header .navbar {
  background-color: rgba(0, 0, 0, 0.19);
}
header .navbar-brand {
  background-image: url("../assets/images/exact-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 20%;
}
@media (max-width: 768px) {
  header .navbar-brand {
    width: 35%;
  }
}
header #apply-button {
  background-color: #4285F4;
  color: white;
}
header .school-quote .text {
  color: white;
  font-weight: bold;
  font-size: 4rem;
}
header .school-quote .text:nth-child(1) {
  margin-left: 2rem;
}
header .school-quote .text:nth-child(2) {
  margin-left: 4rem;
}
header .school-quote .text:nth-child(3) {
  margin-left: 6rem;
}
header .school-quote .yellow-text:nth-child(4) {
  margin-left: 5rem;
}
header .school-quote .yellow-text {
  color: #ffde59;
}

main .programs-text {
  font-size: 3rem;
  color: #0e20b9;
  font-weight: bold;
}
main .rounded-circle {
  width: 150px;
  height: 150px;
  background-color: #4285F4;
  margin-bottom: 1rem;
}
main .programs-icon {
  width: 5rem;
}
main .programs {
  color: #0e20b9;
  width: 10rem;
  text-align: center;
}
main .authors-list {
  overflow: hidden;
}
main .author {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  margin-right: 2rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
main .authors-text {
  font-size: 3rem;
  color: #0e20b9;
  font-weight: bold;
}
main .author-information {
  width: fit-content;
  color: #4285F4;
}
main .author-img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .slider {
  overflow: hidden;
}
main .slider-track {
  animation: scroll 40% linear infinite;
}
main .slide::before, main .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0% rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
main .slide::before {
  left: 0;
  top: 0;
}
main .slide:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}

footer {
  background-color: #4285F4;
  height: 30%;
}
footer .logo-container {
  position: relative;
}
footer .logo-container .copyright-text {
  color: white;
}
footer .logo-container #exact-text {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}
footer .logo-container #copyright-text {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}
footer .contact-container .contact-texts:nth-child(1) {
  font-size: 2rem;
}
footer .contact-container .contact-texts {
  color: white;
}/*# sourceMappingURL=exact_portfolio.css.map */