//Color Themes
$light-blue-theme: #4285f4;
$light-yellow-theme: #ffde59;
$dark-blue-theme: #0e20b9;

//Fonts
@font-face {
    font-family: "montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf");
}

//Designs
* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    list-style-type: none;
}

html,
body {
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    height: 60%;
}
.form-container{
    width: 60%;
}

.selected{
    color: lightgrey;
}

#submit{
    grid-column: 4;
}

form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}
