//Color Themes
$light-blue-theme: #4285F4;
$light-yellow-theme: #ffde59;
$dark-blue-theme: #0e20b9;

//Fonts
@font-face {
    font-family: "montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf");
}

//Designs
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    list-style-type: none;
}

html,body{
    height: 100%;
}

header{
    background-image: url("../assets/images/exact.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 80%;

    .dark-bg{
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.25);
    }    

    .navbar{
        background-color: rgba($color: #000000, $alpha: 0.19);
       }

    .navbar-brand{
        background-image: url("../assets/images/exact-logo.png");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height: 100px;
        width: 20%;
    
        @media (max-width: 768.00px){
            width: 35%;
        }
    }

    #apply-button{
        background-color: $light-blue-theme;
        color: white;
    }

    .school-quote{
        .text{
            color: white;
            font-weight: bold;
            font-size: 4rem;
        }
    
        .text:nth-child(1){
            margin-left: 2rem;
        }

        .text:nth-child(2){
            margin-left: 4rem;
        }

        .text:nth-child(3){
            margin-left: 6rem;
        }

        .yellow-text:nth-child(4){
            margin-left: 5rem;
        }

        .yellow-text{
            color: $light-yellow-theme;
        }
    }
    
}

main{
    .programs-text{
        font-size: 3rem;
        color: $dark-blue-theme;
        font-weight: bold;
    }


    .rounded-circle{
        width: 150px;
        height: 150px;
        background-color: $light-blue-theme;
        margin-bottom: 1rem;
    }
    
    .programs-icon{
        width: 5rem;
    }

    .programs{
        color: $dark-blue-theme;
        width: 10rem;
        text-align: center;
    }

    .authors-list{
        overflow: hidden;
    }

    .author{
        width: 300px;
        background-color: white;
        border-radius: 10px;
        margin-right: 2rem;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        
    }

    .authors-text{
        font-size: 3rem;
        color: $dark-blue-theme;
        font-weight: bold;
    }

    .author-information{
        width: fit-content;
        color: $light-blue-theme;
    }

    .author-img{
        width: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .slider{
        overflow: hidden;
    }

    .slider-track{
        animation: scroll 40% linear infinite;
    }

    .slide::before, .slider::after{
        background: linear-gradient(to right, rgba(255,255,255,1) 0%
        rgba(255,255,255,0) 100%);
        content: '';
        height: 100%;
        position:absolute;
        width: 15%;
        z-index: 2;
    }

    .slide::before{
        left: 0;
        top: 0;
    }

    .slide:after{
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    @keyframes scroll {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-250px * 9));
        }
    }


}

footer{
    background-color: $light-blue-theme;
    height: 30%;

    .logo-container{
        position: relative;

        .copyright-text{
            color: white;
        }

        #exact-text{
            position: absolute;
            left: 2rem;
            bottom: 2rem;
        }

        #copyright-text{
            position: absolute;
            left: 2rem;
            bottom: 1rem;
        }
    }

    .contact-container{

        .contact-texts:nth-child(1){
            font-size: 2rem;
        }
        .contact-texts{
            color: white;
        }
    }
}

