//Color Themes
$light-blue-theme: #4285F4;
$light-yellow-theme: #ffde59;
$dark-blue-theme: #0e20b9;

//Fonts
@font-face {
    font-family: "montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf");
}

//Designs
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    list-style-type: none;
}


html,body{
    height: 100%;
}

main{
    position: relative;
    top: 4%;
    img{
        width: 70%;
        box-shadow: -.8rem .5rem 3rem rgba($color: black, $alpha: 20%);
    }

    .title{
        color: $light-blue-theme;
        font-weight: bold;
        font-size: 2rem;
    }

    ul{
        padding: 2rem 1rem 2rem 1rem;
        box-shadow: -.5rem .5rem 3rem rgba($color: black, $alpha: 15%);
    }

    li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divider{
        border-style: solid;
        border-width: 1px;
        width: 70%;
        margin: 1rem 0 1rem 0;
        opacity: 5%;
    }

    .application-type-text{
        width: fit-content;
        margin-top: 1rem;
        color: $light-blue-theme;
    }

    .button{
        padding: 1rem;
        border-radius: 10px;
        background-color: $dark-blue-theme;
        border-style: none;
        box-shadow: -.5rem .5rem 3rem rgba($color: black, $alpha: 15%);
    }

    .button a{
        color: $light-yellow-theme;
        text-decoration: none;
    }
}